.btn {
  padding: 1em 2em;
  border-radius: 0.3em;
  outline: none;
  border: none;
  cursor: pointer;

	&--primary {
	  transition: all 0.3s ease-out;
	  background-color: #fff;
	  color: #242424;
	  border: 1px solid #DCDCDC;
	}

  &--primary:hover {
    transition: all 0.3s ease-out;
    background-color: #DCDCDC;
    color: #242424;
    transition: 250ms;
  }

	&--outline {
	  background-color: transparent;
	  color: #fff;
	  padding: 8px 20px;
	  border: 1px solid #fff;
	  transition: all 0.3s ease-out;
	}

  &--outline:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

	&--medium {
	  padding: 8px 20px;
	  font-size: 18px;
    margin: 0.5rem;
	}

	&--large {
	  padding: 12px 26px;
	  font-size: 20px;
	  margin: 0.5rem;
	}

  &--view {
    background-color: #abdfff;
  }

  &--view:hover {
    background-color: #1e90ff;
    color: #fff;
  }

  &--delete {
    background-color: #FFC0CB;
  }

  &--delete:hover {
    background-color: #ff4040;
    color: #fff;
  }

  &--save {
    background-color: #98FF98;
  }

  &--save:hover {
    background-color: #00d200;
    color: #fff;
  }

  &--edit {
    background-color: #e2b9ff;
  }

  &--edit:hover {
    background-color: #8b00ff;
    color: #fff;
  }
}

@media screen and (max-width: 960px) {
  .btn {
    &-mobile {
      display: none;
    }
  }
}
