.content {
  display: flex;
  justify-content: space-around;
  align-items: start;
  min-height: calc(100vh - 11.5rem);

  li {
    font-size: 1.2rem;
    margin-left: 3rem;
  }

  main {
    display: flex;
    flex-flow: column;
  }

  section {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
  }

  h1 {
    margin: 1rem auto;
  }

  p {
    margin: 0.7rem 0;
  }

  img {
    display: block;
    margin: 1rem auto;
  }

  label {
    font-size: 1rem;
    font-weight: 600;
    max-width: 100%;
    display: block;
  }

  input,
  textarea {
    display: block;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0.75rem;
    outline: none;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    line-height: 1;
  }

  textarea {
    height: 20vh;
  }

  input:hover,
  textarea:hover {
    border: 1px solid #c5c5c5;
  }

  input:active,
  input:focus,
  textarea:active,
  textarea:focus {
    border: 1px solid #0366ee;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
  }
  
  .admin {
    display: flex;
    flex-flow: row wrap;
  }

  .post-excerpt .post-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.content.admin {
  flex-direction: column;
  justify-content: stretch;
}

@media screen and (max-width: 960px) {
  .content {
    flex-direction: column;
    align-items: center;
    section {
      margin: 0.7rem;
      padding: 0.7rem;
    }
  }
}