.sidebar {
  text-align: center;
  .image {
    background: url('./../../public/images/bstu_logo.png') no-repeat 50%/contain;
    display: block;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 9rem;
    border-radius: 1rem;
    margin: 1rem;
  }
}

