.pages-img {
  padding-top: 50%;
  margin: 2rem auto;
}

.xeros {
  background: url('./../../../public/images/xerox_alto.png') no-repeat 50%/contain;
}

.navigation {
	background: url('./../../../public/images/timeline_nav.jpeg') no-repeat 50%/contain;
  padding-top: 30%;
}

.architecture {
  background: url('./../../../public/images/architecture.jpeg') no-repeat 50%/contain;
}

.gstreamer {
  background: url('./../../../public/images/gstreamer_architecture.jpeg') no-repeat 50%/contain;
}

.qemuCdrom1 {
  background: url('./../../../public/images/wctabletQemuCdrom1.png') no-repeat 50%/contain;
}

.wacomSetup1 {
  background: url('./../../../public/images/wctabletWacomSetup1.png') no-repeat 50%/contain;
}

.wacomSetupTablet {
  background: url('./../../../public/images/wctabletWacomSetupTablet.png') no-repeat 50%/contain;
}

.wacomSetupSuccessful1 {
  background: url('./../../../public/images/wctabletWacomSetupSuccessful1.png') no-repeat 50%/contain;
}

.qemuCdrom2 {
  background: url('./../../../public/images/wctabletQemuCdrom2.png') no-repeat 50%/contain;
}

.wacomSetup2 {
  background: url('./../../../public/images/wctabletWacomSetup2.png') no-repeat 50%/contain;
}

.wacomSetupSuccessful2 {
  background: url('./../../../public/images/wctabletWacomSetupSuccessful2.png') no-repeat 50%/contain;
}

.wctabletTerminal {
  background: url('./../../../public/images/wctabletTerminal.png') no-repeat 50%/contain;
  padding-top: 20%;
}

.wctabletTerminalQemu {
  background: url('./../../../public/images/wctabletTerminalQemu.png') no-repeat 50%/contain;
}

.qemuFileManager {
  background: url('./../../../public/images/qemuFileManager.png') no-repeat 50%/contain;
}

.qemuWacomSetup1 {
  background: url('./../../../public/images/qemuWacomSetup1.png') no-repeat 50%/contain;
}

.qemuWacomSetup2 {
  background: url('./../../../public/images/qemuWacomSetup2.png') no-repeat 50%/contain;
}

.osMouse {
  background: url('./../../../public/images/os_mouse.jpeg') no-repeat 50%/contain;
  padding-top: 40%;
}