.downloads {
  display: flex;
  justify-content: space-around;
  align-items: start;
  background: url('././../../../public/images/Download.jpg') no-repeat center/cover;
  color: #fff;
}

.downloads h1 {
  text-align: center;
}

.downloads main button{
  margin: 0.5em;
}

.downloads main,
.downloads .sidebar {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding: 2em;
  border-radius: 2em;
  margin: 2em;
}

.partners-img {
  background: url('./../../../public/images/bstu_logo.png') no-repeat;
  height: 303px;
  width: 303px;
  display: block;
}