.sidebar {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem;
}

.image {
	background: url('./../../public/images/bstu_logo.png') no-repeat;
	height: 303px;
	width: 303px;
	display: block;
}