.user {
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-content {
    &-left {
      background: linear-gradient(
        90deg,
        rgb(39, 176, 255) 0%,
        rgb(0, 232, 236) 100%
      );
      border-radius: 10px 0 0 10px;
      position: relative;
    }

    &-right {
      border-radius: 0 10px 10px 0;
      position: relative;
      background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
    }
  }

  &-img {
    height: 100%;
  }

  &-registration {
    background: url('./../../../public/images/registration.svg') no-repeat 50%/contain;
  }

  &-login {
    background: url('./../../../public/images/login.svg') no-repeat 50%/contain;
  }

  &-edit {
    background: url('./../../../public/images/editUser.svg') no-repeat 50%/contain;
  }

  &-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
      font-size: 1rem;
      text-align: start;
      width: 80%;
      margin-bottom: 1rem;
      color: #fff;
    }

    p {
      font-size: 0.8rem;
      margin-top: 0.5rem;
      color: #f00e0e;
    }
  }

  &-inputs,
  &-selects {
    width: 80%;
  }

  &-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }

  &-select,
  &-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;

    &-::placeholder {
      color: #595959;
      font-size: 12px;
    }

    &-btn {
      width: 80%;
      height: 50px;
      margin: 1rem;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(39, 176, 255) 0%,
        rgb(0, 232, 236) 100%
      );
      outline: none;
      border: none;
      color: #fff;
      font-size: 1rem;
    }

    &-btn:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(39, 143, 255) 0%,
        rgb(12, 99, 250) 100%
      );
      transition: all 0.4s ease-out;
    }

    &-login {
      font-size: 0.8rem;
      margin-top: 10px;
      color: #fff;
      width: 80%;
      text-align: center;

      a {
        text-decoration: none;
        color: #27cdff;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .user {
    margin: 0;
    grid-template-columns: 1fr;
    min-height: calc(100vh - 11.5rem);
    box-shadow: none;
    width: 100%;

    &-content {
      &-left {
        display: none;
      }

      &-right {
        border-radius: 0;
      }
    }
  }

  .user.login {
    height: calc(100vh - 11.5rem);
  }
}