body { 
  font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 { 
  font-size: 2.2rem; 
} 
     
h2 { 
  font-size: 2.0rem;     
} 
     
h3 { 
  font-size: 1.8rem; 
} 
     
h4 { 
  font-size: 1.6rem;     
} 
     
h5 { 
  font-size: 1.4rem;     
} 
     
p { 
  font-size: 1.2rem;      
}

.home,
.about,
.downloads,
.projects,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('../public/images/img-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about {
  background-image: url('../public/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.downloads {
  background-image: url('../public/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.projects {
  background-image: url('../public/images/img-7.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('../public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}