body { 
  font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 { 
  font-size: 2.2rem;
} 
     
h2 { 
  font-size: 2.0rem;
} 
     
h3 { 
  font-size: 1.8rem;
} 
     
h4 { 
  font-size: 1.6rem;
} 
     
h5 { 
  font-size: 1.4rem;
} 
     
p { 
  font-size: 1.2rem;
}

.registration,
.login {
  min-height: calc(100vh - 11.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: start;
  min-height: calc(100vh - 11.5rem);
}

.content li {
  font-size: 1.2rem;
  margin-left: 3rem;
}

.content main {
  display: flex;
  flex-flow: column;
}

.content section {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem;
}

.content h1, {
  margin: 1rem 0;
}

.content p {
  margin: 0.7rem 0;
}

.content img {
  display: block;
  margin: 1rem auto;
}