body { 
    font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
    text-align: center; 
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 { 
    font-size: 2.2rem; 
} 
     
h2 { 
    font-size: 2.0rem;     
} 
     
h3 { 
    font-size: 1.8rem; 
} 
     
h4 { 
    font-size: 1.6rem;     
} 
     
h5 { 
    font-size: 1.4rem;     
} 
     
p { 
    font-size: 1.2rem;     
}
